#main {
  margin-top: 100px;
  background-color: #800000;
}

#announce {
  margin-left: 50px;
}

#hotTopic {
  height: 250px;
  background-color: #464545;
  position:relative;
}

#hotPhoto {
  margin-left: -15px;
  width: 809px;
  height: 250px;
  object-fit: cover;
  opacity: 0.8;
}

#commentName {
  font-weight: bold;
  margin-right: 5px;
}

#welcome {
  margin: 0 0 0 10px;
  height: 250px;
  color: white;
  background-color: #c08080;
}

#info {
  margin: -5px 0 0 5px;
  font-size: 9px;
}

#id {
  margin: 10px 0 0 5px;
  font-weight: bold;
}

#tag {
  padding: 3px;
  margin: 2px;
  font-size: 10px;
  border-radius: 5px;
  background-color: #d86411;
}

#interest {
  margin: 0px -3px 3px 3px;
  height: 100%;
}

#interest span {
  display: inline-block;
}

#mentor {
  padding: 3px 10px 0 5px;
  margin: 9px 0 0 0px;
  height:115px;
  width:150px;
  background-color: #813b3b;
  background-image: url('./images/mentor.jpg');
}

#student {
  margin: 0px 0px 0px 0px;
  padding: 3px 10px 0 5px;
  height:115px;
  width:150px;
  background-color: #7c4f3f;
  background-image: url('./images/student.jpg');
}

#posts{
  width: 94.5%;
  margin-left: 35px;
}

#image {
  margin-left: -15px;
  height: 300px;
  width: 175px;
  opacity: 0.5;
  object-fit: cover;
}

#profilePhoto {
  width: 60px;
  height: 60px;
}

#heart {
  margin-top: -3px;
  margin-right: 2px;
}

#details {
  margin-top: 100px;
  height:70%;
  width:70%;
  transform: translate(17%,10%);
}

#postsDetails {
  margin-left: 15px;
}

#userDetails {
  font-weight: bold;
  font-size: 14px;
}

#timeDetails {
  font-size: 11px;
  margin-top: -3px;
  margin-left: 3px;
}

#contentDetails {
  margin-top: -20px;
  margin-left: 100px;
}

#photoDetails img{
  margin-top: 10px;
  margin-left: -120px;
  height: 500px;
}

#commentDetails {
  margin-left:
}

.hotUser {
  position: absolute;
  width: 700px;
  top: 25px;
  left: 28px;
  color: white;
}

.hotUserId {
  margin: 15px 0 0 10px;
}

.username {
  position: absolute;
  bottom: 28px;
  left: 16px;
  color: white;
}

.user {
  font-weight: bold;
  font-size: 14px;
}

.time {
  margin-top: -3px;
  font-size: 10px;
  font-style: italic;
}

.interaction {
  position: absolute;
  bottom: 16px;
  left: 30px;
  color: white;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.post {
  background-color: black;
  height: 300px;
  margin: 15px;
  display: block;
}

input[type=text] {
  margin-left: 10px;
  background-color: #800000;
  opacity: 0.5;
  color: white;
  border: 0;
  width:375px;
}

input[type=text]::placeholder {
  font-size: 14px;
  font-style: italic;
  padding-left: 5px;
  color: white;
}
