.logo {
  height: 75px;
  margin: 2px 0 0 -10px;
}

.chat {
  margin: 10px;
  height: 23px;
}

.list-group-item {
  border: 0;
  color: white;
  text-align:center;
  font-weight: bold;
  background-color: #800000;
}

.list-group-item:hover {
  background-color: #570000;
}

#navText a {
  color: #800000;
}

#navText a:active, #navText a:focus {
  color: #d8630f;
}

#header {
  z-index: 2;
  background-color: white;
}
