.App {
  text-align: center;
}

html, body {
  background-color: #FFF2CC;
}

#root {
  background-color: #FFF2CC;
}

.background {
  background-color: #800000a9;
  color: #80000060;
  width: 100%;
  height: 120px;
  position: absolute;
  top: 0;
}

.container {
  text-align: center;
  position: relative;
}

.title-container{
  text-align: center;
}

.form-container1 {
  
  margin: 50px auto;
  width: 90%;
  text-align: left;
  background-color: white;
  padding: 0 20px;
  border: 2px solid lightgrey;
  border-radius: 10px;
}

ul {
  padding: 0;
}

h1 {
  padding: 20px 0 10px 0;
}

#Add, #Delete, #Edit {
  width: 30px;
}

#Delete {
  width: 20px;
  padding: 15px 0;
}

#AddText, #ADD {
  display: inline;
}

#Star {
  border-top: 1px solid lightgray;
  color: lightgray;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.bar {
  height: 90px;
  margin-right: 5px;
  width: 5px;
  color: transparent;
  background-color: #800000;
}

.left-box {
  display: flex;
}

.edit-box {
  border: 1px solid lightgrey;
  border-radius: 9px;
  box-shadow: 0 3px 4px rgba(128,128,128,.5);
  padding: 0;
}

.content-box {
  display: inline;
  width: max-content;
}


li .button-container {
  display: inline;
  max-width: 46px;
  padding: 0 0;
  text-align: center;
}

li {
  padding: 0 20px;
  margin-bottom: 50px;
}

.question {
  font-size: 20px;
}

.description {
  margin-top: 10px;
  font-size: 18px;
  padding-left: 10px;
  border-bottom: 1px solid lightgray;
}

.add-box {
  margin-bottom: 10px;
  text-align: center;
}

.add-box:hover {
  background-color: lightgrey;
}

.button-container{
  text-align: right;
  justify-content: space-between;
  padding: 20px 0;
}

.edit-box{
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
}

.edit-form {
  width: max-content;
}

#Submit {
  background-color: #800000;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
